.box {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 16px;

  &-sm {
    --box-font-size: 14px;
  }

  &-md {
    --box-font-size: 16px;
  }

  &-lg {
    --box-font-size: 20px;
  }

  > p {
    margin: 0;
    font-size: var(--box-font-size);
    padding: 16px;

    /* Multi-line ellipsis */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;

    /* Fix line spacing */
    line-height: 1.4;
    max-height: calc(1.4em * 5);

    /**
     * here's your task
     * write some css to show only 4 line maximum in the paragraph
     * when it's being overflowed, it should show `...` ellipsis at the end.
     */
  }
}
