<div class="container">
  <div class="row">
    <!-- Search -->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
      <input
        type="search"
        class="form-control"
        placeholder="Search"
        [formControl]="searchControl"
      />
    </div>

    <div class="col-12">
      <div class="table-responsive mb-4">
        <table class="table table-sm table-bordered table-striped table-responsive table-hover mb-0">
          <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>Species</th>
            <th>Gender</th>
          </tr>
          </thead>

          <tbody>
          <!-- Loading State -->
            @if (loading()) {
              <tr>
                <td colspan="5"><strong>Loading...</strong></td>
              </tr>
            }

          <!-- No Results -->
            @if (!loading() && noResults()) {
              <tr>
                <td colspan="5">
                  <strong class="text-danger">No characters found.</strong>
                </td>
              </tr>
            }

          <!-- Characters List -->
            @if (!loading() && !noResults()) {
              @for (character of characters(); track character.id) {
                <tr>
                  <td>{{ character.id }}</td>
                  <td>{{ character.name }}</td>
                  <td>{{ character.status }}</td>
                  <td>{{ character.species }}</td>
                  <td>{{ character.gender }}</td>
                </tr>
              }
            }
          </tbody>
        </table>
      </div>

      <!-- Pagination -->
      <pagination
        [totalItems]="totalItems()"
        [itemsPerPage]="200"
        [ngModel]="currentPage()"
        (pageChanged)="pageChanged($event)">
      </pagination>
    </div>
  </div>
</div>
